.popup {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 590px;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  right: 0;
  bottom: 2px;
  z-index: 1;
  margin-right: 10px;
}
.width100{
  width: 100%;
}
.modelmiddle {
  width: 1000px;
  height: 595px;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: column;
}
.minimised {
  width: 600px;
  height: 30px;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  right: 0;
  bottom: 5px;
  z-index: 1;
}

.topSection {
  background-color: #581845;
  height: 35px;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 10px 5px 10px;
}
.inputField {
  border-bottom: 0.5px solid #c3c3c3;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  padding: 5px 10px 5px 0px;
}
.inputStyle {
  border: none !important;
}
/* .searchinput {
  border: unset !important;
} */

.searchinput {
  background-color: red;
  border: none !important;
}
.fromstyle {
  margin-left: 8px;
  padding: 1px 10px 1px 10px;
  background-color: #eee8ec;
  border-radius: 20px;
}

.filesname {
  background-color: #eee8ec;
  /* width: 250px; */
  height: 30px;
  padding: 10px;
  margin-bottom: 3px;
  border-radius: 2px;
  justify-content: space-between;
}

.buttoninsert {
  margin-left: '10px';
}

.buttoninsert:hover {
  background-color: 'white';
}
.action{
  position: absolute;
  left: 0;
  right: 0;
  padding: 0px 10px 10px 10px;
  background-color: white;
  bottom: 0px;
}
