.svgRefresh {
  margin-left: 8px;
  cursor: pointer;
}
.overAllfilter {
  position: relative;
  z-index: -1;
  width: 300px;
  padding: 3px 10px;
  padding-bottom: 15px;
}
.filterStyle {
  padding: 8px 0px 8px 0px;
  border-bottom: 1px solid var(--color-gary-7, #dfdfdf);
}
.jobTextStyle {
  margin-bottom: 2px;
}
.matchRadioStyle{
margin-bottom: 8px;
}
.qualificationRadioStyle {
  margin-bottom: 8px;
}
.qualificationTextStyle {
  margin-top: 16px;
  margin-bottom: 2px;
}
.filterContainer {
  padding: 16px;
  overflow-y: scroll;
}
.filterContainer::-webkit-scrollbar {
  width: 4px;
  margin-left: 16px;
  height: 4px;
  overflow-y: scroll;
}
.expContainer {
  padding-top: 16px;
}
.locantionStyle {
  margin-top: 16px;
}
.skillContainer {
  /* position: relative;
  z-index: -1; */
  margin-top: 13px;
    /*margin-bottom: 13px;*/
}

