<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /manage-users/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /manage-users/index.html [QSA,L]
</IfModule>
