.slace {
  margin: 0 2px 0px 50px;
}
.marginTop {
  margin-top: 2px;
  width: fit-content;
}

.inputOverAll {
  display: inline-grid;
  position: relative;
}
.svgContainer {
  display: flex;
  align-items: center;
  margin-top: 4px;
  position: absolute;
  top: 16px;
  right: 0;
}
.svgTick {
  margin-right: 4px;
  cursor: pointer;
}
.svgTickMargin {
  margin-right: 4px;
  cursor: pointer;
  z-index: 11;
  margin-top: -38%;
  margin-left: 102%;

}
.svgTickDisable {
  pointer-events: none;
  cursor: not-allowed !important;
  opacity: 0.5;
}
.tickStyle:hover path {
  fill: var(--color-gary-4, #979797) !important;
}
.svgClose {
  cursor: pointer;
  z-index: 11;
  margin-top: -41%;

}
.locationStyle {
  cursor: pointer;
  max-width: 25%;
}
.width85 {
  min-width: 300%;
  width: 100%;
}
