.listScroll {
  overflow-y: scroll;
}
.pagination {
  /* margin: 1% 38%; */
  width: 100%;
  padding: 1% 0%;
}

/* @media only screen and (max-width: 1366px) {
  .pagination{
    margin: 1% 35%;
  }
}

@media only screen and (min-width: 1366px) and (max-width:1920px) {
  .pagination{
    margin: 1% 39%;
  }
}

@media screen and (min-width: 1920px) {
  .pagination{
    margin: 1% 43%;
  }
} */

.tabPaddingRight {
  padding-right: 13%;
}
.tabPaddingRightOne {
  padding-right: 6%;
}

.dataIcond{
  display: flex;
}

.svgIcon{
width: 15px;
margin-bottom: 15px;
}