.cardOverAll {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-top: 8px;
  margin-right: 8px;
  height: 150px;
  width: 537px;
}
.cardwrap{
  display: flex;
  flex-wrap: wrap;
}

.profileFlex {
  width: 35%;
}
.nameFlex {
  padding-right: 8px;
  width: 100%;
}

.cardHeight {
  height: 68px;
}

.svgView {
  margin-left: 8px;
}

.labelSvg {
  position: absolute;
  top: 43px;
}
.inviteStyle {
  cursor: pointer;
}
.inviteDisable {
  opacity: 0.3;
  pointer-events: none;
}
.popTitle{
  margin-left: 8px;
}
.pointerEvet{
  pointer-events: none;
}