.skillFlex {
  position: relative;
}
.skillTextStyle {
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.labelSvg {
  position: relative;
    top: 7px;
    left: -5%;
    margin-right: -8%;
}
.notes {
  margin-left: 16px;
  cursor: pointer;
}
