.toggleswitch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px
  }
  .toggleswitch input[type="checkbox"] {
    display: none;
  }
  .toggleswitch .switch {
    position: absolute;
    cursor: pointer;
    background-color: gray;
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.2s ease;
  }
  .toggleswitch .switch::before {
    position: absolute;
    content: "";
    left: 2px;
    top: 1px;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  .toggleswitch input[type="checkbox"]:checked + .switch::before {
    transform: translateX(11px);
    background-color: #ffffff;
  }
  .toggleswitch input[type="checkbox"]:checked + .switch {
    background-color: #581845;
  }