.inputStyle {
  min-width: 26%;
  margin-right: 16px;
}
.inputConatiner {
 margin-top: 15px;
  margin-bottom: 15px;
}
.inputConatinerApplicants {
  margin-top: 15px;
  margin-bottom: 15px;
}
.svgRefresh {
  cursor: pointer;
  margin-left: 8px;
}
.viewText{

    margin-top: 5px;margin-left: 20px;
}
.candidatedatabase{
overflow-y:scroll !important;
display:flex !important;
padding-right:10px;
}
.Applicantdatabase{
  overflow-y:scroll !important;
display:flex !important;
padding-right:10px;
}
.careerPage{
margin-top: 7px;
    margin-left: 4px;
}

.linkSpaceDefault {
  margin-left: 2px;
}
.linkSpace {
  cursor: pointer;
  margin-left: 2px;
}
.marginLeft {
  margin-right: 16px;
}
.filterStyle {
  margin-bottom: 8px;
}
.pagination {
  margin-top: 10px;
  margin-bottom: 15px;
}
.svgRefresh {
  cursor: pointer;
}
 
.inComplete {
  margin-right: 16px;
}
.inputWidth {
  min-width: 253px;
}
.importText {
  margin-right: 6px;
  margin-top: 6px;
  margin-left: 4px;
}
.SelectTagRow {
  margin-top: 10px;
}
.skillContainer {
  min-width: 225px;
  max-width: 250px;
  margin-right: 15px;
}