.line {
  border: none;
  background: #c3c3c3;
  /* width: 670px; */
  height: 1px;
  margin-bottom: 10px;
}

.button {
  /* border: none;
  background: none; */
  background-color: white;
  padding: 5px;
  color: #581845;
}

.element {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.banner {
  background-color: #ffffff;
  padding: 2px;
  -webkit-box-shadow: 1px 2px 1px 1px #d7c7d2;
  -moz-box-shadow: 1px 2px 1px 1px #d7c7d2;
  box-shadow: 1px 2px 1px 1px #d7c7d2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  height: 45px;
}
.slotcontainer {
  margin-top: 50px;
  width: 100%;
  padding: 0px 10px 10px;
}
.slotter {
  display: flex;
  overflow: hidden;
  -webkit-box-shadow: 1px 2px 1px 1px #d7c7d2;
  -moz-box-shadow: 1px 2px 1px 1px #d7c7d2;
  box-shadow: 1px 2px 1px 1px #d7c7d2;
  /* padding: 10px; */
}
.leftside {
  padding-right: 40px;
}
.rightside {
  padding-left: 40px;
  border-left: 1px solid #c3c3c3;
}
.button1 {
  width: 180px;
  margin: 10px;
  border: 2px solid #ffc203;
  background-color: white;
  border-radius: 2px;
}
.button1:focus {
  width: 180px;
  margin: 10px;
  border: 2px solid #ffc203;
  background-color: #ffc203;
  border-radius: 2px;
}

.select {
  max-height: 200px;
  overflow-y: scroll;
}
.confrompage {
  margin-top: 80px;
}
.dashboard {
  text-align: center;
  padding: 50px;
  width: 730px;
  height: 859px;
  margin-top: 40px;
  display: flex row;
  text-align: center;
}

.line5 {
  border: none;
  background: #c3c3c3;
  width: 630px;
  height: 1px;
}
.successTick {
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
