.row {
  margin-bottom: 10px;
}
.overall {
  width: 500.5px;
  height: 500px;
  margin-left: margin;
  margin-top: 80px;
  padding: 50px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #b3b3b3;
}
.company {
  color: #581845;
  font-weight: bold;
  font-size: 20px;
}
.event_name {
  font-weight: bold;
  font-size: 20px;
}
.timezone {
  margin-bottom: 15px;
}
.datepicker {
  /* width: 500.5px; */
  height: 500px;
  margin-top: 80px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #b3b3b3;
}

.buttonscroll{
    overflow: scroll;
}

.monthContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview{
margin-left:  500px;
margin-top: 500px;
}
.line {
  border: none;
  background: #c3c3c3;
  width: 670px;
  height: 1px;
}
.line1 {
  border: none;
  background: #c3c3c3;
  width: 670px;
  height: 2px;
}
.daypicker {
  width: 1000px;
  height: 1000px;
}
.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #0000ff;
  --rdp-background-color: #e7edff;
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: #3003e1;
  --rdp-background-color-dark: #180270;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
}
.button {
  /* border: none;
  background: none; */
  background-color: white;
  padding: 5px;
  color: #581845;
}

/* CSS */
/* You can adjust the font-size and other properties as needed */
.DayPicker {
  font-size: 18px; /* Increase the font size */
}

.DayPicker-wrapper {
  /* Adjust the width of the calendar */
  width: 10px;
}

.DayPicker-Months {
  /* Add some padding around the months */
  padding: 20px;
}

.DayPicker-Day {
  /* Adjust the size of each day cell */
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.DayPicker-Day--today {
  /* You can style the "today" cell differently if you want */
  font-weight: bold;
}

.DayPicker-Day--selected {
  /* You can style the selected day cell differently if you want */
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
}


.window{
  height: 707px;
  width: 1402px;
}

/* new changes start from --->*/

.element{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}

.slotter{
  display: flex;
  overflow: hidden;
  margin-top: 80px;
  margin-left: 220px;
  height: 900px;
  width: 1700px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border : solid 1px #b3b3b3;
  
}
.leftside{  
  margin-left: 100px;
  margin-top: 50px;
  width: 700px;
  height: 500px;
}
.rightside{  
  margin-left: 200px;
  margin-top: 50px;
  width: 450px;
  height: 450px;
}
.straightline {
  width: 1px;
  height: 860px;
  margin-top: 20px;
  /* background-color: black;
  border-left: 1px solid black;
  align-items: center; 
  border: none; */
  background: #c3c3c3;
  margin-left: 60px ;
  /* justify-content: center; */
}

.header{
  /* display: flex; */
  height: 200px;
  width: 200px;
  /* flex-direction: row; */
}
.leftside.candidate{
  font-weight: bold;
  font-size: 18px;
}
.button1{
    width: 180px;
    height: 29px;
    margin: 15px;                                                            
    border: none;
    /* margin-top: 20px; */
    outline: 2px solid #000;
    outline-offset: 2px;
    background-color: white;
    outline-color: #FFC203;                                                         
}
.selectslot{
   width: 152px;
   height: 39px;
   margin-top: 20px;
   text-align: center;
   margin-bottom: 20px;  
   margin-left: 120px;                                                  
}

.availble-day{
  background-color: #FFC203;
  color: black;
}
.line3{
  border: none;
  background: #c3c3c3;
  width: 790px;
  height: 1px;
  margin-left: 30px ;
}
.select{
  height: 360px;
  margin-top: 10px;
  margin-left: 10px;
  overflow-y: auto;
}

/* comfrom page */

.confrompage {
  width: 790px;
  height: 809px;
  margin-left: 600px;
  margin-top: 20px;
  padding: 50px;
  border-radius: 4px;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #b3b3b3;
  justify-content: center; */
  /* align-items: center; */
  display: flex row;
  text-align: center;
  margin-bottom: 10px;
}
.line4{
  border: none;
  background: #c3c3c3;
  width: 690px;
  height: 1px;
  margin-left: 30px ;

}
.svgcircle{
  margin-left: 690px;
  margin-top:  10px;
}

/* interviewdashboard  --> */

.dashboard{
  text-align: center;
  padding: 50px;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #b3b3b3; */
  width: 730px;
  height: 859px;
  margin-left: 700px;
  margin-top: 40px;
  display: flex row;
  text-align: center;
}

.line5 {
  border: none;
  background: #c3c3c3;
  width: 630px;
  height: 1px;
}
