.flexLineHeight {
  line-height: 2;
  display: flex;
  align-items: flex-start;
  color: '#581845';
  font-size: 13px;
}

.aboutCandidateStyle {
  margin-bottom: 8px;
  color: '#333333';
}
.lableWidth {
  min-width: 195px;
  color: '#581845';
  font-size: 13px;
}
.jobPreferenceStyle {
  /* margin-top: 20px;  */
  margin-bottom: 8px;
  color: '#333333';
}
.jobPreferenceStyleproffesional{
  margin-top: 10px;
  margin-bottom: 8px;
  color: '#333333';
}
.jobPreferenceStyle {
  /* margin-top: 10px; */
  margin-bottom: 8px;
  color: '#333333';
}
.skillStyle {
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 13px;
  color: '#581845';
}
.softSkillStyle {
  margin-top: 15px;
  margin-bottom: 8px;
  color: '#333333';
}
.overAll {
  padding: 16px;
  overflow: scroll;
  /* background-color: red; */
}
