.overAll {
  background-color: var(--color-white, #ffffff);
  width: 700px;
  padding: 25px;
  border-radius: 4px;
}
.scrollStyle {
  max-height: 300px;
  overflow: scroll;
  /* min-height: 300px; */
}
.listHeadingStyle {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 14px;
}
.listHeadingStyles {
  font-size: 14px;
}
.trimStyle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
  font-size: 13px;
  border-bottom: 1px solid var(--color-gary-6, #b3b3b3);
}
.listOverAll{
  margin-right: 8px;
}
.insertStyles{
  margin-bottom: 8px;
  font-size: 14px;
}
.preStyle {
  white-space: pre-wrap; 
  white-space: -moz-pre-wrap;  
  white-space: -pre-wrap;  
  white-space: -o-pre-wrap; 
  word-wrap: break-word;  
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  text-align: justify;
}
.inputchanges{
  padding-left: 25px;
  height: 30px;
  width: 270px;
  border-radius: 10px;
}