.findBtn {
  margin-top: 16px;
}
.lastActiveStyle {
  margin-right: 16px;
  /* width: 190px; */
  width: 25%;
}
.filterOverAll {
  /* padding-top: 20px; */
  padding-right: 16px;
  position: relative;
  
}
.distanceStyle {
  /* width: 190px; */
  margin-right: 16px;
  width: 25%;
}
.salesStyle {
  /* width: 190px; */
  margin-right: 16px;
  width: 25%;
}
.cityStyle {
  /* width: 190px; */
  margin-right: 16px;
  width: 25%;
}

.marginBottom22 {
  margin-bottom: 22px;
}
.rowContainer {
  padding-bottom: 10px;
  align-items: flex-end;
  padding-left: 8px;
}
.btnContainer {
  /* width: 18%; */
  margin-right: 20px;
}
.searchStyle{
  /* text-transform: capitalize; */
}