.cardConatiner {
  padding: 5px;
}
.profile {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  top: 4px;
}
.profileContainer {
  /* margin-bottom: 8px; */
  /* padding-right: 16px; */
}
.jobList {
  /* margin-bottom: 8px; */
}
.unlockBtn {
  position: relative;
  top: 14px;
}
.btnUnlocked {
  max-width: 170px;
}
.btnUnlock {
  max-width: 152px;
}
.profileOverAll {
  margin-left: 4px;
}
.overAll {
  margin-top: 16px;
  width: 100%;
  margin-right: 8px;
  margin-left: 8px;
}
.jobTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 83px;
}
.jobTitle1{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95px;
}
.line{
    width: 1px;
    height: 86px;
    background-color: rgb(165, 136, 156);
    margin-top: 2px;
    /* z-index: 12; */
    margin-right: 18px;
}
.pointer {
  cursor: pointer;
}
.relocateContainer {
  margin-top: 58px;
  /* padding-top: 6px; */
  margin-left: -116px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 1316px) and (max-width: 1400px) {
  .ellipsis {
    max-width: 40%;
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {
  .ellipsis {
    max-width: 45%;
  }
}
