.filterTextStyle {
  margin-right: 16px;
}
.cardConatiner {
  /* padding: 16px; */
  min-width: 276px;
  margin-top: 24px;
}
.qualificationConatiner {
  padding: 16px 16px;
  padding-bottom: 0
}
.checkBoxContainerOne {
  min-width: 116px;
}
.checkBoxContainer {
  padding-bottom: 16px;
  padding-top: 8px;
}
.checkBoxOne {
  padding-bottom: 16px;
}
.showCheckBox {
  margin-top: 24px;
}
.pointer {
  cursor: pointer;
}
.filterFlex {
  border-bottom: 1px solid var(--color-gary-7, #dfdfdf);
  padding: 8px 16px;
}
.padding16{
  padding: 0 16px;
  padding-bottom: 16px;
}
