.tableStyle {
  margin-top: 10px;
  margin-left: 5px;
}
.warningFlex1 {
  padding: 6px 8px;
  border: 1px solid #2e6add;
  background-color: #2e6add20;
  border-left: 8px solid #2e6add !important;
  border-radius: 8px;
  width: fit-content;
  font-size: 13px;
  margin-bottom: 15px;
  margin-left: 6px;
}
.warningText1 {
  margin-left: 3px;
  font-size: 13px;
}