.totalTextStyle {
  margin-bottom: 20px;

}
.totalTextStyle1 {
  margin-bottom: 20px;
  font-size: 14px !important;
}
.cardPadding {
  padding: 16px;
  width: 100%;
}
.labelStyle {
  margin-left: 8px;
}
.lineHeight {
  margin: 8px 0;
}

@media screen and (max-width: 700px) {
  .totalTextStyle {
    /* margin-left: 20px; */
  }
}
