.marginTop16 {
  margin-bottom: 10px;
}
.overAll {
  padding: 16px;
  margin: 16px 0;
}

.sizeStyle {
  margin-top: 8px;
  margin-bottom: 4px;
}

.textArea {
  height: 90px;
}

.changeStyle11 {
  margin-bottom: 0px !important;
  cursor: pointer;
  margin-left: 5px;
  cursor: pointer;
  font-size: 12px !important;
}

.cardfront{
  position: absolute;
  z-index: 10000;
  padding: 5px 10px 5px;
  transform: translate(127px, -125px);

}