.overAll {
  padding: 16px;
}
.tagOne {
  margin-right: 8px;
}
.tagTwo {
  margin-left: 8px;
}
.marginTop16 {
  margin-bottom: 10px;
  position: relative;
}
.imgStyle {
  height: 110px;
  width: 110px;
  border-radius: 4px;
  margin-right: 16px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.36);
  object-fit: contain;
}
.colorPicker {
  position: absolute;
  z-index: 11;
  right: 0;
  top: 55px;
}
.headerColorPicker{
  position: absolute;
  z-index: 11;
  right: 0;
  top: 55px;
}
.colorInput {
  margin-right: 8px;
  flex: 6;
  position: relative;
}
