.overAll {
  padding: 20px 40px;
  padding-bottom: 4px;
  position: relative;
}
.insideFlex{
  margin-bottom: 16px;
}
.svgEdit {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}