.overAll {
  background-color: var(--color-white, #ffffff);
  padding: 25px;
  border-radius: 4px;
  position: relative;
  /* padding-bottom: 40px !important; */
}
.salaryFlex {
  padding-top: 20px;
  padding-bottom: 20px;
}
.stateFlex {
  padding-bottom: 20px;
}
.svgClose {
  position: absolute;
  top: 16px;
  right: 16px;
}
.title {
  margin-bottom: 10px;
}
.borderLine {
  border-top: 1px solid #c3c3c3;
  /* padding-bottom: 20px; */
}
.cancel {
  margin-right: 8px;
  background-color: #888888;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
.cancel:active,
.cancel:focus {
  background-color: #888888;
  border: none;
}
