.dataAnaLysFlex {
  padding: 16px 0px;
}
.chartStyle {
  min-height: 400px;
  margin-right: 8px;
  color:#333333;
  font-size: 16px;
}

.cardOverAll {
  padding: 5px 10px 5px 5px;
  /* margin: 24px 70px; */
  overflow: scroll;
}
.postion{
  position: relative;
    top: 9px;
}
.jdStatus {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  color: #333333;
  border-bottom: 1px solid #581845;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.modalOverAll {
  background-color: var(--color-white, #ffffff);
  border-radius: 4px;
  padding: 20px;
}
.cardOne {
  padding: 16px;
  padding-top: 0px;
  margin-bottom: 16px;
}
.jobMetricsStyle {
  padding: 20px 0;
}
.cardTwo {
  padding: 16px;
  padding-top: 0px;
  margin-bottom: 16px;
}
.skillFlex {
  margin-top: 20px;
}
.sillListStyle {
  margin-right: 8px;
  margin-bottom: 8px;
}
.requiredSkillText {
  margin-bottom: 8px;
}.margin10 {
  margin-right: 10px;
}
.font20{
  font-size: 20px;
   cursor: pointer;
}.curser{
 cursor: pointer;
}.padding2{
 padding: 2px;
}.center{
  margin: auto;
}
.font20px{
  font-size: 20px;
}
.popTitle{
  margin-left: 8px;
}
.titlejobdetails{
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  color: #333333;
  border-bottom: 1px solid #581845;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 10px;
}