.dataAnaLysFlex {
  padding: 16px 0px;
}
.chartStyle {
  min-height: 411px;
  margin-right: 8px;
  color:#333333;
  font-size: 16px;
}

.cardOverAll {
  padding: 5px 10px 5px 12px;
  /* margin: 24px 70px; */
 max-width: 1150px;
 margin: 10px 60px 60px 60px;
  overflow: scroll;
  background-color: var(--color-white, #ffffff);
  border-radius: 4px;
  box-sizing: border-box;
  /* -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.36); */
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 47%);
  -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 47%);
  
}
.cardOverAll1 {
  padding: 5px 10px 5px 12px;
  /* margin: 24px 70px; */
 max-width: 1300px;
 margin: 10px 60px 50px 60px;
  overflow: scroll;
  background-color: var(--color-white, #ffffff);
    border-radius: 4px;
    box-sizing: border-box;
    /* -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.36); */
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 47%);
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 47%);

}
.postion{
  position: relative;
    top: 9px;
}
.jdStatus {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 14px;
  color: #581845;
  border-bottom: 1px solid #581845;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.modalOverAll {
  background-color: var(--color-white, #ffffff);
  border-radius: 4px;
  padding: 20px;
}
.cardOne {
  padding: 16px;
  padding-top: 0px;
  margin-bottom: 16px;
}
.jobMetricsStyle {
  padding: 20px 0;
}
.cardTwo {
  padding: 16px;
  padding-top: 0px;
  margin-bottom: 16px;
}
.skillFlex {
  margin-top: 20px;
}
.sillListStyle {
  margin-right: 8px;
  margin-bottom: 8px;
}
.requiredSkillText {
  margin-bottom: 8px;
}.margin10 {
  margin-right: 10px;
}
.font20{
  font-size: 20px;
   cursor: pointer;
}.curser{
 cursor: pointer;
}.padding2{
 padding: 2px;
}.center{
  margin: auto;
}
.font20px{
  font-size: 20px;
}
.popTitle{
  margin-left: 8px;
}
.titlejobdetails{
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  color: #333333;
  border-bottom: 1px solid #581845;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.boards{
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 16px;
  color: #581845;
  border-bottom: 1px solid #581845;

}
.ribbon{
  background-color: #EEE8EC;
  height: 45px;
}
.triangle {
width: 0px; 
height: 0px; 
border-top: 22px solid transparent; 
border-right: 30px solid white; 
border-bottom: 22px solid transparent;
position: relative;
top: 71; 
right: 43; 
  }