.cardStyle {
    /* padding: 16px 20px; */
    padding: 10px 20px;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  .listFlex {
    margin-bottom: 16px;
  }
  .valueStyle{
    margin-left: 4px;
  }