.listOverAll {
  margin-right: 8px;
  margin-top:5px;
}
.listHeadingStyle {
  margin-top: 6px;
  margin-bottom: 4px;
}
.overAll {
  background-color: var(--color-white, #ffffff);
  width: 700px;
  padding: 16px;
  border-radius: 4px;
}

.trimStyle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border-bottom: 1px solid var(--color-gary-6, #b3b3b3); */
  /* height: 34px; */
  height: 20px;
  /* padding-top: 8px; */
}
.trimStyle p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: 0;
  text-align: justify;
}
.trimStyle h6 {
  display: none;
}
.normalStyle {
  padding-top: 8px;
}
.normalStyle p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  margin-top: 8px;
  text-align: justify;
  margin: 0;
}
.normalStyle ul {
    padding-left: 16px;
  }
.padding{
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconspace{
  padding: 0px 10px 0px 0px;
}
.pointer{
  cursor: pointer;
}
.cardstyle{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.cardstylehilight{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #581845;
  border-radius: 0.25rem;
}