.overAll {
  /* padding: 16px 24px; */
  margin-top: 24px;
  
}
.split{
  border-bottom: 1px solid var(--color-gary-7, #dfdfdf);
  width: 100%;
  padding: 0px 10px 35px 0px;
}
.jobTitle {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-gary-7, #dfdfdf);
}
.containerOne {
  margin-top: 16px;
}
.margin16 {
  margin-right: 16px;
  position: relative;
}
.postion {
  position: relative;
}

.btnContainer {
  margin-top: 8px;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 2px;
  /* border-top: 1px solid #dfdfdf; */
  padding: 5px;
  background-color: #ffffff;
}
.draftBtn {
  margin: 0 16px;
}
.showStyle {
  margin-top: 26px;
}
