.overAll {
  background-color: var(--color-white, #ffffff);
  border-radius: 4px;
  padding: 25px;
}
.title {
  /* height: 40px; */
  /* background-color: var(--color-primary, #581845); */
  align-items: center;
  border-radius: 4px;
  /* padding: 0 16px; */
}
.scrollStyle{
  overflow: scroll;
  /* padding: 20px; */
}
.addBtn {
  margin: 0 16px;
}
.inputContainer {
  /* padding: 16px; */
  padding: 10px 0px 10px 0px;
}
.noContent {
  padding: 16px;
  overflow: hidden;
}

.jobTitle {
  height: 36px;
  background-color: var(--color-gary-8, #fafafa);
  display: flex;
  align-items: center;
  padding-left: 16px;
  border: 1px solid var(--color-gary-5, #cccccc);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.error{
  position: absolute;
}
.totalsearchcount{
  position: relative;
  left: 20px;
  top: 6px;
}
.alignrow{
  display: flex;
  flex-direction: row;
}
.scroll{
  overflow: scroll;
  padding:10px;
  /* max-height: 488px; */
}
.btnstyle{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.border{
  border-right: 0.5px solid #333333;
  margin-right: 10px;
  margin-left: 10px;
}
.paddingtitle{
  padding: 10px 0px 0px 10px;
}

.normalStyle p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  margin-top: 8px;
  text-align: justify;
  margin: 0;
}

  .normalStyle li{
    list-style: disc;
    margin-left: 20px;
    }
    .bordertop{
      border-top: 0.5px solid #333333;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .boxshadow{
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.36);
    }
    .cardstyle{
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      margin-left: 1px;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.36);
      border: 1px solid rgba(0,0,0,.125);
      border-radius: 0.25rem;
    }