
.jobTitle {
  margin-right: 24px;
}
.jobTitleFlex {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-gary-7, #dfdfdf);
}
.richTextContainer{
  margin-top: 20px;
  position: relative;
}
.displayNone {
  width: 0;
  height: 0;
  background-color: transparent;
  border: none;
}