.cardOverAll {
  /* padding: 16px; */
}
.mainTitle {
  margin-top: 8px;
  margin-bottom: 8px;
}
.title {
  margin-bottom: 8px;
}
.statusList {
  margin-right: 8px;
  margin-bottom: 8px;
}
.statusContainer{
  margin-top: 8px;
}
.des ul{
  padding-left: 24px;
  list-style-type: disc !important;
}
.rolesandresponsibilitiescard{
  padding: 16px;
}

.rolesandresponsibilitiescard:hover{
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  transition: all 0.2s ease-out;
}