.margin16 {
  margin-right: 16px;
  position: relative;
}
.containerOne {
  margin-top: 16px;
}
.addBtn {
  margin-top: 30px;
}
.svgTrash {
  position: relative;
  top: 26px;
}
.errorMessage {
  color: var(--color-error, #f94949);
  font-size: 12px;
}

.svgadd{
  margin-right: 8px;
  bottom: 1px;
  position: relative;
  cursor: pointer;
}
