.dropDownListStyle {
  cursor: pointer;
}
.popUpFlex {
  margin-left: 8px;
}
.loaderIndex {
  z-index: 100;
}

/* product route*/

.model{
width:180px;
}

.model1 {
  width: 37px;
}

.tobbar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.titleuser{
  padding: 5px 0;
  border-right: 0.5px solid #555555;
  display: flex;
}