.dropDownListStyle {
  cursor: pointer;
}
.popUpFlex {
  margin-left: 8px;
}
.loaderIndex {
  z-index: 100;
}

/* product route*/

.model {
  width: 230px;
}

.model1 {
  width: 60px;
}

.tobbar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
