.container {
  margin-bottom: 8px;
  /* min-width: 190px; */
}
.cardStyle{
  box-shadow: unset;
  cursor: pointer;
}
.cardFlexStyle {
  padding: 8px 4px 8px 4px;
  border: 1px solid #581845;
  border-left-width: 5px;
  border-left-style: solid;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 135px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.47000000000000003);
  justify-content: space-between;
  cursor: pointer;
}
.profile {
  height: 56px;
  width: 56px;
  border-radius: 100%;
}
.nameContainer {
  margin-left: 15px;
  max-width: 62%;
  cursor: pointer;
}
.svgContainer {
  margin-right: 8px;
}
.svgDownloadStyle {
  margin-right: 5px;
  cursor: pointer;
}
.svgCalnStyle {
  margin-right: 8px;
  cursor: pointer;
}
.percentageStyle {
  background-color: var(--color-secondary, #ffc203);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  padding-bottom: 1px;
  width: 45px;
  position: absolute;
  top: 45px;
  left: 5px;
}
.svgView {
  margin-left: 4px;
  cursor: auto;
  padding-bottom: 2px;
  /* position: relative;
  top: -2px; */
}
.svgNewTag {
  /* align-items: flex-end; */
  display: flex;
  flex: 1;
}

.overAll {
  background-color: var(--color-white, #ffffff);
  border-radius: 4px;
  padding: 16px;
  position: relative;
  padding-right: 32px;
  /* width: 200%;
  margin-left: -57%;
  height:110%;
  margin-top: -10%; */
}

.linkBtnStyle{
  display: contents;
}