.svgStyle {
  margin-left: 24px;
  cursor: pointer;
}
.overAll {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #A5889C;
}
.btnStyle{
  background-color: #EEE8EC;
  border: #EEE8EC;
  margin-right: 10px;
  cursor: pointer;
}
.btnStyle:active{
  background-color: #EEE8EC !important;

}
