.rightMenuConatiner {
  align-items: center;
  
}
.size13 {
  font-size: 13px;
}
.supportText {
  margin-right: 16px;
  cursor: pointer;
  padding: 10px 15px;
}
.profile {
  margin-left: 8px;
  cursor: pointer;
  
}
.dropDown {
  top: 60px;
  margin-right: 8px !important;
  padding: 8px;
}
.black3 {
  color: #333333;
  font-size: 13px;
  padding: 10px 24px;
}
.hrLine {
  border-top: 1px solid #dfdfdf;
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
}
.navLinkHover:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 4px;
}
.dropdown_item:hover {
  background-color: #581845 !important;
  color: #ffffff !important;
  border-radius: 4px !important;
}
.dropdownItemActive{
  background-color: #581845 !important;
  color: #ffffff !important;
  border-radius: 4px !important;
}
.modalStyle {
  background-color: #ffffff;
  overflow: overlay;
  padding: 24px;
  border-radius: 4px;
  position: relative;
}
.svgClose {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  
}
.imageStyle{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: contain;
}


.errorMessageStyle {
  position: absolute;
  bottom: -22px;
}
.search {
  border-radius: 4px;
  padding: 3px 12px 3px 12px;
  border: 1px solid var(--color-gary-5, #cccccc);
  outline: none;
  font-size: 14px;
  background-color: var(--color-white, #ffffff);
  width: 100%;
  box-sizing: border-box !important;
  font-family: "Roboto", sans-serif;
  /* text-transform: capitalize; */
}
.search::placeholder{
  text-transform: inherit !important
}
.search:hover {
  border: 1px solid var(--color-gary-6, #b3b3b3);
}
.search:focus {
  border: 1px solid var(--color-primary, #581845);
}
.search::placeholder {
  font-size: 12px;
  color: var(--color-gary-6, #b3b3b3);
}

.errorBorder {
  border: 1px solid var(--color-error, #f94949);
}
.errorBorder:hover {
  border: 1px solid var(--color-error, #f94949);
}
.errorBorder:focus {
  border: 1px solid #d74242;
}
.errorFocus {
  color: var(--color-error-1, #d74242);
}


