.overAll1 {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 8px 16px;
    border: 1px solid var(--color-warning, #ffb142);
    width: fit-content;
    max-width: 2196px;
    margin-bottom: 30px;
    position: fixed;
  };

  .overAll {
    /* padding: 20px;
    border-width: 4px;
    overflow-y: scroll;
    overflow-x: scroll;
    display: grid; */
    /* grid-template-columns: auto;
    gap: 10px; */
    /* border: 1px 1px solid #b3b3b3; */
    height: 1500px;
    width: 1383px; 
    box-shadow: 1 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #b3b3b3;
  }

  .textStyle {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .newlink {
    font-size: '16px';
    color: #581845;
    font-weight: 'bold';  
    padding-top: '1px' ;
    margin-left: 1423px;
  } 

  .title{
    margin-left: 10px;
    margin-top: 10px;
  }

  .gird{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Three equal columns */
    grid-template-rows: auto; /* Automatically sized rows */
    gap: 5px;  
}
.event{  
  height: 00px;
  width: 1050px;
  bottom: 300px;
  /* overflow-y: scroll; */
  /* overflow-y: scroll;
  overflow-x: scroll; */
}
.noevent{
  /* text-align: center; */
  /* margin-left: 230px; */
  margin-top: 300px;
  display: inline; /* or display: inline-block; */
  white-space: nowrap
}
.initial{
  margin-top: 20px;
  margin-left:10px;
  margin-bottom: 20px;
}
.headertxt{
  /* margin-left :10px;  */
  display : inline;
  white-space : nowrap;
  font-size: 18px;
  color: black;
}
.outline{
  margin-top: 10px;
  height: 910px;
  width: 2040px; 
  margin-left: 10px;
  box-shadow: 1 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #b3b3b3;
  overflow: scroll;
}
.eventtxt{
  font-size: 20px;
  color: #581845;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: -28px;
}
.space{
  margin-top: 10px;
}


