.text {
  font-size: 18px;
  color: #581845;
  font-weight: bold;
}
.text1 {
  font-size: 14px;
  /* font-weight : bold; */
  /* margin-left: 5px; */
}
.close {
  border: none;
  background: none;
  margin-left: 400px;
}
.overall {
  background-color: #fff;
  padding: 10px 30px;
  /* overflow-y: scroll; */
  /* overflow: scroll; */
  /* width: 602px; */
}
.selectmembers {
  width: 520px;
  margin-bottom: 27px;
  margin-top: 5px;
}
.flex {
  margin-bottom: 9px;
  margin-right: 5px;
}

.grid {
  height: 300px;
  width: 600px;
  overflow: scroll;
}
