.descriptionpopup{
    width: 600px;
    background: white;
    padding:25px;
    border-radius:4px;
  }
  
.popupheading{
    justify-content: space-between;
    margin-bottom: 5px;
    padding-bottom: 5px;
 }
.deletepopup{
    padding: 25px;
    background-color: white;
}
  
.delBtnContainer{
    justify-content: flex-end;
    margin-top:16px;
}
.listalignment p{
    margin: 0;
}