.msgText {
  border-bottom: 1px solid #ccc;
  padding: 4px 16px;
  margin-bottom: 16px;
}
/*.overAll{
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  -moz-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}*/
.datePicker {
  border: 1px solid var(--color-gary-5, #cccccc) !important;
  border-radius: 4px;
  height: 30px !important;
  box-sizing: border-box;
  padding-left: 12px;
  width: 100%;
}
.datePicker:hover {
  border: 1px solid var(--color-gary-6, #b3b3b3) !important;
}
.datePicker:focus {
  border: 1px solid var(--color-primary, #581845) !important;
  box-shadow: none !important;
}
.cardListStyle {
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  -moz-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}
.cardListStyle:hover {
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  transition: all 0.2s ease-out; 
}
.borderRight {
  width: 100px;
  border-right: 3px solid var(--color-primary, #581845);
  margin-right: 16px;
}
.scrollStyle {
  overflow-y: scroll;
  padding: 0 16px;
  padding-top: 1px;
}
.scrollStyleOne {
  height: 391px;
}
.scrollStyleTwo {
  height: 437px;
}
.noContent {
  align-self: center;
}
.syncBtn {
  border-radius: 20px;
  padding: 2px 4px;
  margin-left: 8px;
  cursor: pointer;
}
