.msgText {
  border-bottom: 0.5px solid #581845;
  padding: 4px 2px;
  margin-left: 8px;
  margin-right: 8px;
 
}
/*.overAll{
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  -moz-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}*/
.datePicker {
  border: 1px solid var(--color-gary-5, #cccccc) !important;
  border-radius: 4px;
  height: 30px !important;
  box-sizing: border-box;
  padding-left: 12px;
  width: 80%;
  padding: 10px;
  text-align: end;
  max-width: 145px;
}
.datePicker:hover {
  border: 1px solid var(--color-gary-6, #b3b3b3) !important;
}
.datePicker:focus {
  border: 1px solid var(--color-primary, #581845) !important;
  box-shadow: none !important;
}
.cardListStyle {
  padding: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  
  width:auto;
  border-left:6px solid #581845;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  -moz-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}
.cardListStyle:hover {
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  transition: all 0.2s ease-out;  

}
.overAll:hover {
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  transition: all 0.2s ease-out;  

}
.borderRight {
  width: 150px;
  border-right: 1.5px solid var(--color-primary, #581845);
  margin-right: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  

}
.scrollStyle {
  overflow-y: scroll;
  padding: 0 16px;
  padding-top: 1px;
}
.scrollStyleOne {
  height: 391px;
}
.scrollStyleTwo {
  height: 437px;
}
.noContent {
  align-self: center;
}
.syncBtn {
  background-color: #581845;
  color:white;
  /* padding: 2px 4px; */
  margin-left: 2px;
 position: relative;
  
  cursor: pointer;
}
.overAll{
  width:auto;
  height:285px;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 8px;

}
.line{
  border:0.5px solid #581845;
}
