.overAll {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: "100%";
}
.freeImg {
  width: 100%;
}
.warningText {
  margin-left: 8px;
}
.warningFlex {
  padding: 8px 16px;
  border: 1px solid var(--color-warning, #ffb142);
  background-color: rgba(255, 165, 0, 0.1);
  border-radius: 4px;
  width: fit-content;
  max-width: 1196px;
  border-top: 4px;
}
.borderBottom {
  border-bottom: 1px solid #ccc;
  padding: 4px 16px;
}
.ribbon{
  background-color: #EEE8EC;
  height: 40px;
}
/* .triangle{
  display:flex;
  justify-self: flex-end;

} */
.triangle {

width: 0px;
  
height: 0px;
  
border-top: 22px solid transparent;
  
border-right: 30px solid white;
  
border-bottom: 22px solid transparent;
  
position: relative;
  
top: -1px;
  
right: 0;

  
  }