.rbc-label {
  width: 69px;
  font-size: 14px;
}
.rbc-time-header-gutter {
  width: 69px;
}
.rbc-button-link {
  font-size: 14px;
}
.rbc-event-label {
  font-size: 14px;
}
.rbc-event-content {
  font-size: 14px;
}
.rbc-btn-group {
  font-size: 14px;
}
.rbc-toolbar-label {
  font-size: 14px;
}