@import '../../../default.css';

.overAll {
  background-color: var(--color-white, #ffffff);
  border-radius: 4px;
  padding: 16px;
  position: relative;
  padding-right: 32px;
  width: 200%;
  margin-left: -50%;
  height: 110%;
  margin-top: -5%;
}
.Popup {
  background-color: var(--color-white, #ffffff);
  width: 680px;
  padding: 25px;
  border-radius: 4px;
}
.titelTextStyle {
  margin-left: 12px;
}
.btnContainer {
  margin-top: 16px;
}
.btnCancelStyle {
  margin-right: 8px;
}
.btnDeleteStyle {
  margin-left: 8px;
}
.svgClose {
  position: absolute;
  right: 4px;
  top: 4px;
}
.info {
  margin-top: 8px;
}
.flexMargin {
  margin-bottom: 2%;
}

.notes {
  color: rgba(26, 26, 26, 0.5);
  grid-column: 1 / span 2;
  white-space: nowrap;
}

.notes div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes div:first-child p {
  margin-bottom: 2px;
}

.privateNote {
  height: 50px;
}

.card1 {
  padding: 10px;
}

.card2 {
  padding: 4px 0px 0px 4px;
}
.card3 {
  height: 50px;
}
.warn {
  color: red;
  margin-bottom: 0px;
}

.date {
  width: 100%;
}
.time {
  border: 1px solid var(--color-gary-5, #cccccc);
}
.to {
  font-size: 16px;
}

.meetingForm {
  background-color: white;
  max-height: 550px;
  height: 100%;
  border-radius: 4px;
  width: 700px;
  max-width: 80vw;
  display: grid;
  grid-template-columns: [one] 1fr [two] 1fr [three];
  grid-template-rows: auto;
  grid-gap: 20px 20px;
  padding: 15px 25px;
  overflow: auto;
  /* margin-top: 15px; */
}

.timeInputWrapper {
  display: flex;
  align-items: flex-start;
  height: 20px !important;
}

.timeInputWrapper .to {
  display: flex;
  align-items: center;
  margin: 0px 6px;
}

.location {
  grid-column: 1 / span 2;
}

.addInterviewer .icons {
  display: flex;
  align-items: center;
/* margin-left: 10px; */
}
.dateview.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 3px 10px !important;
  background-color: #581845;
/* margin-left: 10px; */
}
.dateview.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 3px 10px !important;
  background-color: #581845;
}

.addInterviewer .icons p {
  margin-bottom: 0;
}

.dateview {
  display: flex;
  flex-direction: column;
}

.duration p {
  margin: 0;
  /* margin-bottom: 7px ; */
  /* margin-bottom: 7px ; */
}

.duration p:nth-of-type(even) {
  padding: 3.5px 10px;
  /* margin-top: 4.5px; */
  /* background-color: rgba(0, 0, 0, 0.07); */
  border-radius: 4px;
  border:1px solid #cccccc;
  /* width: fit-content; */
  padding: 3.5px 10px;
  /* margin-top: 4.5px; */
  /* background-color: rgba(0, 0, 0, 0.07); */
  border-radius: 4px;
  border:1px solid #cccccc;
  /* width: fit-content; */
}

.reminder > div {
  display: flex;
}

.formTitle {
  grid-column: 1 / span 2;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-left: 10px;
}

.actionButtonWrapper {
  /* grid-column: 1 / span 2; */
  border-top: 1px solid #c3c3c3;
  display: flex;
  justify-content: flex-end;
  
}

.actionButtonWrapper button {
  /* margin-left: 20px; */
  /* margin-left: 20px; */
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 0.6px;
  outline: none;
  border: none;
  padding: 5px 12px;
}

.actionButtonWrapper button.continueButton {
  background-color: var(--color-primary);
  color: white;
}

.actionButtonWrapper button.continueButton:hover {
  background-color: var(--color-primary-hover);
}

.label {
  margin-bottom: 4px;
  color: #581845;
}

label > p {
  margin: 0 !important;
  padding: 0;
}
.cancelButton{
  margin-right: 8px;
  background-color: #888888;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  color: #ffffff;

}
.cancelButton:active,
.cancelButton:focus {
  background-color: #888888;
  border: none;
}
.continueButton{
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
.continueButton:active,
.continueButton:focus {
  border: none;
}

.buttonContainer {
  display: flex;
  align-items: center;
}