.cardOverAll {
  background-color: var(--color-gary-8, #fafafa);
  padding: 20px 155px 40px;
  border-radius: 4px;
  /* margin-top: 140px; */
  position: relative;
}
.userInput {
  margin-top: 30px;
}
.btnConatiner {
  margin-top: 24px;
}
