/* .cardOverAll {
  background-color: var(--color-gary-8, #fafafa);
  padding: 20px 155px 40px;
  border-radius: 4px;
   margin-top: 140px; 
  position: relative;
} */
/* .userInput {
  margin-top: 30px;
} */
/* .btnConatiner {
  margin-top: 24px;
} */
.row {
  display: flex;
  flex-direction: row;
}

.splitrow_1 {
  width: 50%;
  height: 100vh;
  background-color: #f0ebed;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.splitrow_2 {
  width: 50%;
  height: 100vh;
}

.center_aligh_slider {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.center_aligh {
  width: 37%;
  position: absolute;
  top: 45%;
  left: 23%;
  transform: translate(-50%, -50%);
}

.text {
  color: #581845;
}

.error_content {
  color: #581845;
  font-size: 14px !important;
}

.input {
  width: 80%;
  margin-left: 63px;
  padding: 8px;
  border-radius: 9px;
  margin-top: 20px;
  box-shadow: 0px 3px 1px #beadb9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #ffffff;
  text-indent: 30px;
  height:35px;
}

.input:hover {
  border: 1px solid #a5889c;
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  color: #581845;
}

.usericon {
  position: absolute;
  left: 75px;
  top: 29px;
}
.login_button {
  width: 80%;
  margin-top: 20px;
  margin-left: 63px;
  padding: 5px;
  border-radius: 5px;
  background-color: #581845;
  border: 2px solid #581845;
}

.login_button:hover {
  box-shadow: none;
}
.container {
  margin-top: 50px;
 
}

.passwordicon {
  top: 24px;
  left: 0px;
}

.error_msg {
  margin-left: 65px;
  margin-top: 4px;
}
.logo {
  margin-top: 20px;
}
.text_margin {
  margin-top: 20px;
}
.verify_name {
  color: #581845;
  margin-top: 4px !important;
}
