.cardOverAll {
  background-color: var(--color-gary-8, #fafafa);
  padding: 20px 200px 40px;
  border-radius: 4px;
  position: relative;
}
.userInput {
  width: 350px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.userPassword {
  width: 350px;
  position: relative;
}
.btnConatiner {
  margin-top: 24px;
}
.iconColor {
  margin-right: 8px;
  color: var(--color-error, #f94949);
}
.iconTickColor {
  margin-right: 8px;
  color: var(--color-success, #34cc65);
}
.errorMessageFlex {
  margin-top: 4px;
}
.errorMessage {
  position: absolute;
  color: var(--color-error, #f94949);
  bottom: -19px;
  font-size: 12px;
}
